@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.carthead {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  margin: 20px 0px 0px 170px;
}

.carthead::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 50%;
  height: 3px;
  background: #a878d8;
}

.cartpagecontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 25px 150px;
}

.cartpagecontainer .productcontainer {
  width: 70%;
  min-width: 500px;
  -webkit-box-shadow: 1px 2px 7px #f0d8f0;
          box-shadow: 1px 2px 7px #f0d8f0;
  border-radius: 5px;
}

.cartpagecontainer .productcontainer .product {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartpagecontainer .productcontainer .product .productimgcontainer {
  width: 40%;
  margin-top: 10px;
  height: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartpagecontainer .productcontainer .product .productimgcontainer img {
  height: 130%;
}

.cartpagecontainer .productcontainer .product .productdetail {
  height: 100%;
  width: 100%;
}

.cartpagecontainer .productcontainer .product .productdetail h2,
.cartpagecontainer .productcontainer .product .productdetail p,
.cartpagecontainer .productcontainer .product .productdetail div,
.cartpagecontainer .productcontainer .product .productdetail span {
  margin-top: 5px;
}

.cartpagecontainer .productcontainer .product .productdetail .productname {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.cartpagecontainer .productcontainer .product .productdetail .productcategory {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #d8a8d8;
}

.cartpagecontainer .productcontainer .product .productdetail .price {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.cartpagecontainer .productcontainer .product .productdetail .quantityremovebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cartpagecontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector {
  cursor: pointer;
  background: #a878d8;
  color: "Montserrat", sans-serif;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  padding: 7px;
  border-radius: 3px;
  margin-right: 20px;
}

.cartpagecontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector span {
  color: #f0d8f0;
}

.cartpagecontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector select {
  cursor: pointer;
  border: none;
  background: #a878d8;
  color: #f0d8f0;
}

.cartpagecontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector select option {
  color: #f0d8f0;
  cursor: pointer;
  background: #a878d8;
}

.cartpagecontainer .productcontainer .product .productdetail .quantityremovebox .removeproduct {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #f0d8f0;
  background-color: #a878d8;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.cartpagecontainer .productcontainer .product .productdetail .qrbox {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
}

.cartpagecontainer .ordercontainer {
  width: 25%;
}

.cartpagecontainer .ordercontainer .placeorder {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  display: block;
  padding: 8px 0px;
  border-radius: 5px;
  background-color: #a878d8;
  border: none;
  outline: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.cartpagecontainer .ordercontainer .couponcontainer {
  border: 0.5px solid rgba(0, 0, 0, 0.185);
  display: block;
  border-radius: 5px;
  margin-top: 5px;
}

.cartpagecontainer .ordercontainer .couponcontainer .accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  outline: none;
  font-size: 13px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.cartpagecontainer .ordercontainer .couponcontainer .panel {
  padding: 5px 5px;
  display: none;
  font-size: 13px;
  background-color: white;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
}

.cartpagecontainer .ordercontainer .couponcontainer .panel .coupon {
  border: 1px solid #d8a8d8;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  padding: 5px 5px;
  border-radius: 5px;
  width: 70%;
  font-weight: 400;
}

.cartpagecontainer .ordercontainer .couponcontainer .panel .applycoupon {
  margin-top: 10px;
  padding: 6px 10px;
  width: 28%;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  background: #d8a8d8;
  outline: none;
  border: none;
}

.cartpagecontainer .ordercontainer .giftwrapcontainer {
  margin-top: 10px;
  display: block;
}

.cartpagecontainer .ordercontainer .giftwrapcontainer label {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-left: 10px;
}

.cartpagecontainer .ordercontainer .giftwrapcontainer input {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cartpagecontainer .ordercontainer .billingdetailcontainer {
  width: 100%;
  padding-left: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.185);
  border-radius: 5px;
  padding: 10px;
}

.cartpagecontainer .ordercontainer .billingdetailcontainer .detailhead {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 5px 0 10px 0;
  opacity: 0.8;
}

.cartpagecontainer .ordercontainer .billingdetailcontainer ul li {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  font-weight: 500;
}

.cartpagecontainer .ordercontainer .billingdetailcontainer ul li span {
  float: right;
}

.cartpagecontainer .ordercontainer .billingdetailcontainer ul .totalpayable {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .carthead {
    margin: 20px 0 0 30px;
  }
  .cartpagecontainer {
    padding: 30px 10px;
  }
  .cartpagecontainer .productcontainer {
    min-width: 500px;
  }
  .cartpagecontainer .productcontainer .product .productimgcontainer {
    height: 160px;
  }
  .cartpagecontainer .productcontainer .product .productimgcontainer img {
    height: 120%;
  }
  .cartpagecontainer .productcontainer .product .productdetail h2,
  .cartpagecontainer .productcontainer .product .productdetail p,
  .cartpagecontainer .productcontainer .product .productdetail div,
  .cartpagecontainer .productcontainer .product .productdetail span {
    margin-top: 5px;
  }
  .cartpagecontainer .productcontainer .product .productdetail .productname {
    font-size: 16px;
  }
  .cartpagecontainer .productcontainer .product .productdetail .price {
    font-size: 16px;
  }
  .cartpagecontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector {
    padding: 5px;
    margin-right: 15px;
  }
  .cartpagecontainer .productcontainer .product .productdetail .quantityremovebox .removeproduct {
    padding: 5px;
  }
  .cartpagecontainer .productcontainer .product .productdetail .qrbox {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .cartpagecontainer .ordercontainer {
    width: 25%;
  }
  .cartpagecontainer .ordercontainer .placeorder {
    padding: 5px 0;
  }
  .cartpagecontainer .ordercontainer .couponcontainer .accordion {
    padding: 5px 0;
  }
  .cartpagecontainer .ordercontainer .couponcontainer .panel .coupon {
    width: 60%;
  }
  .cartpagecontainer .ordercontainer .couponcontainer .panel .applycoupon {
    float: right;
    width: 36%;
    padding: 6px;
  }
  .cartpagecontainer .ordercontainer .billingdetailcontainer {
    padding: 7px;
  }
  .cartpagecontainer .ordercontainer .billingdetailcontainer .detailhead {
    margin: 3px 0 5px 0;
    font-size: 13px;
  }
  .cartpagecontainer .ordercontainer .billingdetailcontainer ul li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .carthead {
    margin: 20px 0 15px 10px;
    font-size: 24px;
  }
  .cartpagecontainer {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 5px;
  }
  .cartpagecontainer .productcontainer {
    min-width: 400px;
    width: 100%;
  }
  .cartpagecontainer .productcontainer .product .productimgcontainer {
    height: 150px;
  }
  .cartpagecontainer .productcontainer .product .productimgcontainer img {
    height: 100%;
  }
  .cartpagecontainer .productcontainer .product .productdetail h2,
  .cartpagecontainer .productcontainer .product .productdetail p,
  .cartpagecontainer .productcontainer .product .productdetail div,
  .cartpagecontainer .productcontainer .product .productdetail span {
    margin-top: 7px;
  }
  .cartpagecontainer .productcontainer .product .productdetail .productname {
    font-size: 15px;
    font-weight: 500;
  }
  .cartpagecontainer .productcontainer .product .productdetail .price {
    font-size: 22px;
  }
  .cartpagecontainer .productcontainer .product .productdetail .qrbox {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
  }
  .cartpagecontainer .ordercontainer {
    width: 100%;
    padding: 20px 10px;
  }
  .cartpagecontainer .ordercontainer .placeorder {
    padding: 10px;
  }
  .cartpagecontainer .ordercontainer .couponcontainer {
    margin-top: 10px;
    padding: 7px;
  }
  .cartpagecontainer .ordercontainer .couponcontainer .accordion {
    font-weight: 500;
  }
  .cartpagecontainer .ordercontainer .giftwrapcontainer label {
    font-size: 16px;
  }
  .cartpagecontainer .ordercontainer .billingdetailcontainer .detailhead {
    font-size: 16px;
  }
  .cartpagecontainer .ordercontainer .billingdetailcontainer ul li {
    font-size: 16px;
    margin: 5px 0;
  }
}
/*# sourceMappingURL=cart.css.map */