@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.orderdetailcontainer {
  width: 90%;
  padding: 100px 50px 100px 100px;
}

.orderdetailcontainer .orderdetailhead {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
}

.orderdetailcontainer .orderdetailhead::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 50%;
  height: 3px;
  background: #a878d8;
}

.orderdetailcontainer .container {
  text-align: center;
  height: 100px;
  margin: 80px 0;
}

.orderdetailcontainer .container .progressbar {
  counter-reset: step;
}

.orderdetailcontainer .container .progressbar li {
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #a878d8;
}

.orderdetailcontainer .container .progressbar li::before {
  content: counter(step);
  font-family: "Montserrat", sans-serif;
  counter-increment: step;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: white;
  color: #a878d8;
}

.orderdetailcontainer .container .progressbar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #a878d8;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.orderdetailcontainer .container .progressbar li:first-child:after {
  content: none;
}

.orderdetailcontainer .container .progressbar .active {
  color: #a878d8;
}

.orderdetailcontainer .container .progressbar .active::before {
  color: white;
  border-color: #a878d8;
  background: #a878d8;
}

.orderdetailcontainer .orderdetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.orderdetailcontainer .orderdetail span .orderid,
.orderdetailcontainer .orderdetail span .address,
.orderdetailcontainer .orderdetail span .status,
.orderdetailcontainer .orderdetail span .paymenttype {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 10px;
}

.orderdetailcontainer .orderdetail span .orderid span,
.orderdetailcontainer .orderdetail span .address span,
.orderdetailcontainer .orderdetail span .status span,
.orderdetailcontainer .orderdetail span .paymenttype span {
  color: #a878d8;
}

.orderdetailcontainer .orderdetail span .cancel {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f45951;
  border: none;
  outline: none;
  margin: 10px;
  color: #f6f5f4;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.185);
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer .detailhead {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 5px 0 10px 0;
  opacity: 0.8;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.185);
  padding-bottom: 4px;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer ul li {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  font-weight: 500;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer ul li span {
  float: right;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer ul .totalpayable {
  font-weight: 500;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption {
  padding: 10px 0px;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 5px 0 10px 0;
  opacity: 0.8;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.185);
  padding-bottom: 4px;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption input {
  padding: 8px 15px;
  width: 90%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #a878d8;
  background: white;
  outline: none;
  margin: 10px auto;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: block;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption input:focus, .orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption input:hover {
  background-color: #a878d8;
  color: white;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption .orderwarning {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  display: block;
  color: #f45951;
}

.orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption .orderwarning a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.orderdetailcontainer .productcontainer {
  width: 100%;
  margin-top: 30px;
  min-width: 500px;
  -webkit-box-shadow: 1px 2px 7px #f0d8f0;
          box-shadow: 1px 2px 7px #f0d8f0;
  border-radius: 5px;
}

.orderdetailcontainer .productcontainer .product {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderdetailcontainer .productcontainer .product .productimgcontainer {
  width: 40%;
  margin-top: 10px;
  height: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orderdetailcontainer .productcontainer .product .productimgcontainer img {
  height: 130%;
}

.orderdetailcontainer .productcontainer .product .productdetail {
  height: 100%;
  width: 100%;
}

.orderdetailcontainer .productcontainer .product .productdetail h2,
.orderdetailcontainer .productcontainer .product .productdetail p,
.orderdetailcontainer .productcontainer .product .productdetail div,
.orderdetailcontainer .productcontainer .product .productdetail span {
  margin-top: 5px;
}

.orderdetailcontainer .productcontainer .product .productdetail .productname {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.orderdetailcontainer .productcontainer .product .productdetail .productname span {
  color: #a878d8;
}

.orderdetailcontainer .productcontainer .product .productdetail .productcategory {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.orderdetailcontainer .productcontainer .product .productdetail .productcategory span {
  color: #a878d8;
}

.orderdetailcontainer .productcontainer .product .productdetail .price {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.orderdetailcontainer .productcontainer .product .productdetail .quantityremovebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.orderdetailcontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector {
  cursor: pointer;
  background: #a878d8;
  color: "Montserrat", sans-serif;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  padding: 7px;
  border-radius: 3px;
  margin-right: 20px;
}

.orderdetailcontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector span {
  color: #f0d8f0;
}

.orderdetailcontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector select {
  cursor: pointer;
  border: none;
  background: #a878d8;
  color: #f0d8f0;
}

.orderdetailcontainer .productcontainer .product .productdetail .quantityremovebox .quantityselector select option {
  color: #f0d8f0;
  cursor: pointer;
  background: #a878d8;
}

.orderdetailcontainer .productcontainer .product .productdetail .quantityremovebox .removeproduct {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #f0d8f0;
  background-color: #a878d8;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.orderdetailcontainer .productcontainer .product .productdetail .qrbox {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .orderdetailcontainer {
    padding: 50px 30px 50px 30px;
  }
  .orderdetailcontainer .orderdetailhead {
    font-size: 22px;
  }
  .orderdetailcontainer .container {
    margin: 40px 0;
  }
  .orderdetailcontainer .container .progressbar li {
    font-size: 12px;
  }
  .orderdetailcontainer .container .progressbar li::before {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .orderdetailcontainer .container .progressbar li::after {
    top: 15px;
    height: 1px;
  }
  .orderdetailcontainer .orderdetail {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .orderdetailcontainer .orderdetail span .orderid,
  .orderdetailcontainer .orderdetail span .address,
  .orderdetailcontainer .orderdetail span .status,
  .orderdetailcontainer .orderdetail span .paymenttype {
    font-size: 12px;
    margin: 10px;
  }
  .orderdetailcontainer .orderdetail span .cancel {
    font-size: 12px;
    padding: 5px 12px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer {
    padding: 7px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .detailhead {
    margin: 3px 0 5px 0;
    font-size: 13px;
    padding-bottom: 2px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer ul li {
    font-size: 12px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption p {
    margin: 3px 0 5px 0;
    font-size: 13px;
    padding-bottom: 2px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption input {
    font-size: 12px;
    padding: 5px 12px;
    width: 90%;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption .orderwarning {
    font-size: 10px;
  }
  .orderdetailcontainer .productcontainer {
    min-width: 400px;
    width: 100%;
  }
  .orderdetailcontainer .productcontainer .product {
    height: 200px;
  }
  .orderdetailcontainer .productcontainer .product .productimgcontainer {
    height: 150px;
  }
  .orderdetailcontainer .productcontainer .product .productimgcontainer img {
    height: 140%;
  }
  .orderdetailcontainer .productcontainer .product .productdetail h2,
  .orderdetailcontainer .productcontainer .product .productdetail p,
  .orderdetailcontainer .productcontainer .product .productdetail div,
  .orderdetailcontainer .productcontainer .product .productdetail span {
    margin-top: 7px;
  }
  .orderdetailcontainer .productcontainer .product .productdetail .productname,
  .orderdetailcontainer .productcontainer .product .productdetail .productcategory {
    font-size: 14px;
    font-weight: 400;
  }
  .orderdetailcontainer .productcontainer .product .productdetail .price {
    font-size: 14px;
  }
  .orderdetailcontainer .productcontainer .product .productdetail .qrbox {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .orderdetailcontainer {
    padding: 20px 0px 20px 30px;
  }
  .orderdetailcontainer .orderdetailhead {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .orderdetailcontainer .container {
    margin: 0;
    padding: 30px 0;
  }
  .orderdetailcontainer .container .progressbar li {
    font-size: 6px;
  }
  .orderdetailcontainer .container .progressbar li::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .orderdetailcontainer .container .progressbar li::after {
    top: 10px;
    height: 1px;
  }
  .orderdetailcontainer .orderdetail span .orderid,
  .orderdetailcontainer .orderdetail span .address,
  .orderdetailcontainer .orderdetail span .status,
  .orderdetailcontainer .orderdetail span .paymenttype {
    font-size: 10px;
    margin: 7px;
  }
  .orderdetailcontainer .orderdetail span .orderid span,
  .orderdetailcontainer .orderdetail span .address span,
  .orderdetailcontainer .orderdetail span .status span,
  .orderdetailcontainer .orderdetail span .paymenttype span {
    display: inline-block;
  }
  .orderdetailcontainer .orderdetail span .cancel {
    margin: 7px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer {
    width: 350px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .detailhead {
    font-size: 12px;
    font-weight: 400;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer ul li {
    font-weight: 400;
    font-size: 10px;
    margin-top: 4px;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption p {
    font-size: 12px;
    font-weight: 400;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption input {
    margin: 7px auto;
    width: 100%;
  }
  .orderdetailcontainer .orderdetail .billingdetailcontainer .paymentoption .orderwarning {
    font-size: 7px;
  }
  .orderdetailcontainer .productcontainer {
    min-width: 300px;
    width: 100%;
  }
  .orderdetailcontainer .productcontainer .product {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
  .orderdetailcontainer .productcontainer .product .productimgcontainer {
    height: 150px;
  }
  .orderdetailcontainer .productcontainer .product .productimgcontainer img {
    height: 100%;
  }
  .orderdetailcontainer .productcontainer .product .productdetail {
    padding-left: 10px;
  }
  .orderdetailcontainer .productcontainer .product .productdetail h2,
  .orderdetailcontainer .productcontainer .product .productdetail p,
  .orderdetailcontainer .productcontainer .product .productdetail div,
  .orderdetailcontainer .productcontainer .product .productdetail span {
    margin-top: 7px;
  }
  .orderdetailcontainer .productcontainer .product .productdetail .productname,
  .orderdetailcontainer .productcontainer .product .productdetail .productcategory {
    font-size: 10px;
    font-weight: 400;
  }
  .orderdetailcontainer .productcontainer .product .productdetail .price {
    font-size: 12px;
  }
  .orderdetailcontainer .productcontainer .product .productdetail .qrbox {
    float: right;
    margin-right: 0px;
    margin-top: 5px;
    width: 70px;
    height: 70px;
  }
}
/*# sourceMappingURL=placeorder.css.map */