@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.userprofilecontainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 100px;
}

.userprofilecontainer .userprofilehead {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 500;
}

.userprofilecontainer .userprofilehead::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 50%;
  height: 3px;
  background: #a878d8;
}

.userprofilecontainer .namecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  margin-left: 50px;
}

.userprofilecontainer .namecontainer .firstnamecontainer label,
.userprofilecontainer .namecontainer .lastnamecontainer label {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.userprofilecontainer .namecontainer .firstnamecontainer .detailinput,
.userprofilecontainer .namecontainer .lastnamecontainer .detailinput {
  display: block;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
  line-height: 30px;
  padding: 4px 12px 3px;
  width: 300px;
}

.userprofilecontainer .emailcontainer,
.userprofilecontainer .passcontainer {
  margin-left: 50px;
  margin-top: 30px;
}

.userprofilecontainer .emailcontainer label,
.userprofilecontainer .passcontainer label {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.userprofilecontainer .emailcontainer .detailinput,
.userprofilecontainer .passcontainer .detailinput {
  display: block;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
  line-height: 30px;
  padding: 4px 12px 3px;
  width: 300px;
}

.userprofilecontainer .emailcontainer .changepass,
.userprofilecontainer .passcontainer .changepass {
  color: #a878d8;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-top: 4px;
  display: block;
}

.userprofilecontainer .productlistcontainer {
  border: 3px solid #6d6969;
  margin: 20px 0 20px 50px;
  border-radius: 10px;
  width: 80%;
  overflow: auto;
}

.userprofilecontainer .productlistcontainer .myproducts {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin-left: 50px;
  margin: 20px 0 20px 50px;
}

.userprofilecontainer .productlistcontainer .productlistfilter {
  width: 100%;
  padding: 10px;
  overflow: auto;
}

.userprofilecontainer .productlistcontainer .productlistfilter .listfilter {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.userprofilecontainer .productlistcontainer .productlistfilter .listfilter span {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.userprofilecontainer .productlistcontainer .productlistfilter .listfilter select {
  border-radius: 3px;
  font-size: 13px;
}

.userprofilecontainer .productlistcontainer .productlistfilter .listfilter select option {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.userprofilecontainer .productlistcontainer .listcontainer {
  height: 350px;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 10px 50px;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .imgcontainer {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 95%;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .imgcontainer img {
  height: 130%;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer {
  width: 100%;
  padding-left: 20px;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .productname {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .productcategory {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d8a8d8;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing {
  margin-top: 10px;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing span {
  font-family: "Montserrat", sans-serif;
  margin-right: 7px;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing .price {
  font-size: 21px;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing .og-price {
  font-size: 13px;
  font-weight: 300;
  text-decoration: line-through;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing .discount {
  font-size: 14px;
  font-weight: 300;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .extrainfo {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  list-style-type: none;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .extrainfo li {
  font-size: 14px;
  margin-top: 5px;
}

.userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .showdetails {
  color: #a878d8;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-top: 7px;
  display: block;
}

.userprofilecontainer .productlistcontainer .showallproducts {
  color: #a878d8;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: block;
  float: right;
  margin: 20px 10px;
}

.userprofilecontainer .activateproduct {
  color: #f0d8f0;
  background: #a878d8;
  margin-left: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #a878d8;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .userprofilecontainer {
    padding: 30px;
  }
  .userprofilecontainer .userprofilehead {
    margin-bottom: 30px;
  }
  .userprofilecontainer .namecontainer {
    width: 550px;
    margin-left: 30px;
  }
  .userprofilecontainer .namecontainer .firstnamecontainer .detailinput,
  .userprofilecontainer .namecontainer .lastnamecontainer .detailinput {
    width: 250px;
  }
  .userprofilecontainer .emailcontainer,
  .userprofilecontainer .passcontainer {
    margin-left: 30px;
  }
  .userprofilecontainer .productlistcontainer {
    margin-left: 0;
    width: 100%;
    border: 1px solid #6d6969;
  }
  .userprofilecontainer .productlistcontainer .myproducts {
    font-size: 24px;
    margin-left: 30px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer {
    height: 250px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .imgcontainer img {
    height: 120%;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer {
    padding-left: 30px;
  }
  .userprofilecontainer .activateproduct {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .userprofilecontainer {
    padding: 20px 10px;
  }
  .userprofilecontainer .userprofilehead {
    margin: 20px 7px;
  }
  .userprofilecontainer .namecontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-left: 20px;
    width: 90%;
  }
  .userprofilecontainer .namecontainer .firstnamecontainer,
  .userprofilecontainer .namecontainer .lastnamecontainer {
    width: 100%;
    margin-top: 20px;
  }
  .userprofilecontainer .namecontainer .firstnamecontainer .detailinput,
  .userprofilecontainer .namecontainer .lastnamecontainer .detailinput {
    width: 100%;
  }
  .userprofilecontainer .emailcontainer,
  .userprofilecontainer .passcontainer {
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
  }
  .userprofilecontainer .emailcontainer .detailinput,
  .userprofilecontainer .passcontainer .detailinput {
    width: 100%;
  }
  .userprofilecontainer .productlistcontainer {
    margin-left: 0;
  }
  .userprofilecontainer .productlistcontainer .myproducts {
    margin: 10px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer {
    height: 180px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer {
    padding: 10px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .imgcontainer {
    width: 50%;
    height: 100%;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .imgcontainer img {
    height: 120%;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer {
    padding-left: 5px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .productname {
    font-size: 16px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .productcategory {
    font-size: 13px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing .price {
    font-size: 18px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing .og-price {
    font-weight: 300;
    font-size: 12px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .pricing .discount {
    font-weight: 300;
    font-size: 12px;
  }
  .userprofilecontainer .productlistcontainer .listcontainer .innercontainer .detailcontainer .extrainfo li {
    font-size: 12px;
  }
}
/*# sourceMappingURL=userprofile.css.map */